{% extends 'admin.html.twig' %}

{% block title %}Edit Produit{% endblock %}

{% block body %}
    <h1>Edit Produit</h1>

    {{ include('admin/produit/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <table>
        <tr>
            <td><a class="btn btn-outline-info" href="{{ path('app_produit_index') }}">Retoure à la list</a></td>
            <td>{{ include('admin/produit/_delete_form.html.twig') }}</td>
        </tr>
    </table>
{% endblock %}
